<?xml version="1.0"?>
<!--
/**
 * Copyright © MageDevGroup. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magedevgroup" translate="label" sortOrder="400">
            <label>MageDevGroup</label>
        </tab>
        <section id="magedevgroup_customer_sso" translate="label" type="text" sortOrder="20"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer SSO</label>
            <tab>magedevgroup</tab>
            <resource>MageDevGroup_CustomerSso::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Customer SSO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="active_provider" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Identity Provider</label>
                    <source_model>MageDevGroup\CustomerSso\Model\Config\Source\ActiveProvider</source_model>
                    <comment>The list is populated by installed provider plugins (e.g. customer-sso-okta).</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="allow_password_login" translate="label comment" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Keep Password Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Keeps the native email/password login form visible alongside the SSO button.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="auto_link_policy" translate="label comment" type="select" sortOrder="60"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Linking by Email</label>
                    <source_model>MageDevGroup\CustomerSso\Model\Config\Source\AutoLinkPolicy</source_model>
                    <comment><![CDATA[When an SSO email matches an existing customer:
                        <em>Auto-link</em> signs them straight in;
                        <em>Require verification</em> blocks the takeover until the email is proven.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="group_customer_group_map" translate="label comment" type="textarea" sortOrder="70"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Group to Customer-Group Map</label>
                    <comment><![CDATA[One rule per line as <code>idp_group=customer_group_id</code>.
                        Blank lines and <code>#</code> comments are ignored.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
